<% provide :title, t(".about") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".rorts" %></title>
  </head>
  <body>
    <h1><%= t ".about" %></h1>
    <p>
      <%= t ".the" %> <em><%= link_to t(".rort"), t(".linkrails") %></em> 
      <%= t ".isa" %> <%= link_to t(".book"), t(".linkbook") %> <%= t ".and" %>
      <%= link_to t(".screencast"), t(".linkscreencast") %>
      <%= t ".toteach" %> <%= link_to t(".ror"), t(".linkweb") %>.
      <%= t ".largetext" %>
    </p>
  </body>
</html>
