<% provide :title, t(".help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | <%= t ".rortsa" %></title>
  </head>
  <body>
    <h1><%= t ".help" %></h1>
    <p>
      <%= t ".gethelp" %> <%= link_to t(".rorths"), t(".linkhelp") %>. 
      <%= t ".tghotsa" %> <em><%= link_to t(".rort"), t(".linkhelp") %></em> 
      <%= t ".book" %>.
    </p>
  </body>
</html>
